{% extends "carSale/wrapper.html" %}


{% block content %}
    <style>
        figure {
            width: 100%; /* Ширина */
            float: left; /* Выстраиваем элементы по горизонтали */
            margin: 0 0 1% 3.5%; /* Отступ слева */
            background: #f0f0f0; /* Цвет фона */
            border-radius: 5px; /* Радиус скругления */
            padding: 2%; /* Поля */
        }

        figure:first-child {
            margin-left: 0; /* Убираем отступ для первого элемента */
        }
    </style>
    {% if car %}
        <h4 style="margin-left: 5%;" class="font-weight-bold">
            {{ car.company }} {{ car.name_model }} ({{ car.price }}$)</h4>
        <h5 style="margin-left: 5%;" class="font-weight-bold">Контакты: {{ car.created_by }}
            ({{ car.phone_number }})</h5>
        <div class="container  bg-light" style="border-radius: 5px;">
            <div class="row">
                <div class="row  box-shadow">
                    <div class="col">
                        <ul class="card-body">
                            <h5 class="card-header-tabs">Год:</h5>
                            <h5 style="padding: 12px"></h5>
                            <h5 class="card-header-tabs">Пробег:</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs">Кузов:</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs">Двигатель:</h5>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="card-body">
                            <h5 class="card-header-tabs">{{ car.year }}</h5>
                            <h5></h5>
                            <h5></h5>
                            <h5 class="card-header-tabs">{{ car.mileage }} км.</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs"> {{ car.body }}</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs"> {{ car.engine }}/{{ car.engine_volume }}л.</h5>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    {% if car.img %}
                        <figure>
                            {% load static %}
                            <img class="card-img-top"
                                 alt="/1/images/2018-Audi-RS6-Avant-Performance-01-4027-default-large.jpeg" style="border-radius: 5px;height: 460px; width: 100%;
                                display:flow-root"
                                 src=" {{ car.img.url }}">
                        </figure>
                    {% endif %}
                    <div class="col">
                        <div class="card fieldBox">
                            <h5 style="padding: 1%">Описание:</h5>
                            <h6 style="padding: 1%">{{ car.description }}</h6>
                        </div>
                        <div class="card fieldBox">
                            {% if request.user == car.created_by %}

                                <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                        href="{% url 'deleteCar' car.pk %}">Удалить</a></button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                        href="{% url 'updateCar' car.pk %}">Обновить данные</a></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}