{% extends "carSale/wrapper.html" %}


{% block content %}
    <h1 class="col-md-4" xmlns="http://www.w3.org/1999/html">Автомобили</h1>
    {% if car_list %}
        <style>
            figure {
                width: 100%; /* Ширина */
                float: left; /* Выстраиваем элементы по горизонтали */
                margin: 0 0 0 3.5%; /* Отступ слева */
                background: #f0f0f0; /* Цвет фона */
                border-radius: 5px; /* Радиус скругления */
                padding: 2%; /* Поля */
            }

            figure:first-child {
                margin-left: 0; /* Убираем отступ для первого элемента */
            }
        </style>

        {% for car in car_list %}
            {% if car %}
            <div class="album py5 bg-light">
            <div class="container">
                <div class="col bg-light ">
                    <div class="col md-1">
                        <div class="card md-4 box-shadow">
                            {% if car.img %}
                                <figure>
                                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="margin:0 0 0 5%;border-radius: 5px;height: 460px; width: 90%;
                                display:flow-root" src="{{car.img.url}}">
                                </figure>
                                {% else %}
                                 <p>There are no image in DB</p>
                            {% endif %}

                            <div class="card-body">
                                <p class="card-text"> {{ car.company.name }} {{ car.name_model }}  </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                                href="{% url 'car-detail' car.pk %}">Подробнее</a></button>
                                    </div>
                                    <small class="text-muted">{{car.price}}$</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    {% else %}
        <p>There are no cars in DB</p>
    {% endif %}
{% endblock %}