<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">AutoSale</h5>
    <nav class="my-2 my-md-0 mr-md-3">

    </nav>
    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <a class="btn bg-transparent btn-outline-primary m-md-2" href="{% url 'logout' %}">Выход</a>
    {% else %}
        <a class="btn bg-transparent btn-outline-primary m-md-2" href="{% url 'register' %}">Регистрация</a>
        <a class="btn bg-transparent btn-outline-primary" href="{% url 'login' %}">Вход</a>
    {% endif %}
    {% if user.is_active %}
        <a class="btn bg-transparent btn-outline-primary m-md-2" href="{% url 'newCar' %}">Новое авто</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}
<footer class="footer pt-md-5 border-top bg-info" style="margin: 1% 0 0 0;">
    <div class="container">
        <span class="text-muted">2020.</span>
    </div>
</footer>
</body>
</html>