{% extends "carSale/wrapper.html" %}


{% block content %}
    <style>
        figure {
            width: 100%; /* Ширина */
            float: left; /* Выстраиваем элементы по горизонтали */
            margin: 0 0 0 3.5%; /* Отступ слева */
            background: #f0f0f0; /* Цвет фона */
            border-radius: 5px; /* Радиус скругления */
            padding: 2%; /* Поля */
        }

        figure:first-child {
            margin-left: 0; /* Убираем отступ для первого элемента */
        }
    </style>
    {% if car %}
        <div class="container  bg-light" style="border-radius: 5px;">
            <div class="row">
                <div class="row  box-shadow">
                    <div class="col">
                        <ul class="card-body">
                            <h5 class="card-header-tabs">Год:</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs">Пробег:</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs">Кузов:</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs">Двигатель:</h5>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="card-body">
                            <h5 class="card-header-tabs"> </h5>
                            <h5></h5>
                            <h5 class="card-header-tabs"> </h5>
                            <h5></h5>
                            <h5 class="card-header-tabs"> {{ car.body }}</h5>
                            <h5></h5>
                            <h5 class="card-header-tabs"> {{ car.engine }}</h5>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    {% if car.img %}
                                <figure>
                                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="border-radius: 5px;height: 460px; width: 100%;
                                display:flow-root" src="{{ car.img.url }}">
                                </figure>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}